<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.vtiger.testscripts.CreateContact4"/>
      <class name="com.vtiger.testscripts.CreateService1"/>
      <class name="com.vtiger.testscripts.CreateService2"/>
      <class name="com.vtiger.testscripts.Services"/>
      <class name="com.vtiger.testscripts.EditServices4"/>
      <class name="com.vtiger.testscripts.CreateDuplicateOpportunities4"/>
      <class name="com.vtiger.testscripts.Activities_edit"/>
      <class name="com.vtiger.testscripts.Add_customer_field"/>
      <class name="com.vtiger.testscripts.SelectContact"/>
      <class name="com.vtiger.testscripts.Create_sales_order_WTmandatory2"/>
      <class name="com.vtiger.testscripts.Duplicate_sales_order"/>
      <class name="com.vtiger.testscripts.CreateQuote"/>
      <class name="com.vtiger.testscripts.MassEditLeads4"/>
      <class name="com.vtiger.testscripts.DeleteContact4"/>
      <class name="com.vtiger.testscripts.Add_purchaseorder"/>
      <class name="com.vtiger.testscripts.Edit_errormessage"/>
      <class name="com.vtiger.testscripts.Create_purchaseorder"/>
      <class name="com.vtiger.testscripts.SearchServiceName1"/>
      <class name="com.vtiger.testscripts.EditOpportunities4"/>
      <class name="com.vtiger.testscripts.Edit_sales_order"/>
      <class name="com.vtiger.testscripts.Massedit_sales_order"/>
      <class name="com.vtiger.testscripts.ImportServices4"/>
      <class name="com.vtiger.testscripts.EditLead"/>
      <class name="com.vtiger.testscripts.CreateServiceInvoice4"/>
      <class name="com.vtiger.testscripts.Delete_invoice_nextbutton"/>
      <class name="com.vtiger.testscripts.Duplicate_invoice"/>
      <class name="com.vtiger.testscripts.EditOpportunities"/>
      <class name="com.vtiger.testscripts.CreateOpportunities4"/>
      <class name="com.vtiger.testscripts.MassEdit4"/>
      <class name="com.vtiger.testscripts.EditContact4"/>
      <class name="com.vtiger.testscripts.CreateInvoice"/>
      <class name="com.vtiger.testscripts.CreatePurchaseOrder2"/>
      <class name="com.vtiger.testscripts.Edit_invoice_checkbox"/>
      <class name="com.vtiger.testscripts.CreatePurchaseOrder1"/>
      <class name="com.vtiger.testscripts.Delete_invoice_checkbox"/>
      <class name="com.vtiger.testscripts.Send_email_pdf"/>
      <class name="com.vtiger.testscripts.Invoice_select_organization"/>
      <class name="com.vtiger.testscripts.CreatePurchaseOrder4"/>
      <class name="com.vtiger.testscripts.Massedit_invoice"/>
      <class name="com.vtiger.testscripts.Edit_purchaseorder"/>
      <class name="com.vtiger.testscripts.CreateDuplicateService4"/>
      <class name="com.vtiger.testscripts.SelectOrganization"/>
      <class name="com.vtiger.testscripts.Create_invoice"/>
      <class name="com.vtiger.testscripts.SearchContacts4"/>
      <class name="com.vtiger.testscripts.Delete_sales_order"/>
      <class name="com.vtiger.testscripts.DeleteService"/>
      <class name="com.vtiger.testscripts.Sales_create_pdf"/>
      <class name="com.vtiger.testscripts.CreateDuplicateContact4"/>
      <class name="com.vtiger.testscripts.Invoice_select_salesorder"/>
      <class name="com.vtiger.testscripts.SearchServiceCate1"/>
      <class name="com.vtiger.testscripts.DeleteLeads4"/>
      <class name="com.vtiger.testscripts.AddEventContacts4"/>
      <class name="com.vtiger.testscripts.DeleteOpportunities5"/>
      <class name="com.vtiger.testscripts.EditService1"/>
      <class name="com.vtiger.testscripts.SearchServiceNum"/>
      <class name="com.vtiger.testscripts.Edit_invoice"/>
      <class name="com.vtiger.testscripts.Duplicate_invoice_nextbutton"/>
      <class name="com.vtiger.testscripts.CreateSalesOrder"/>
      <class name="com.vtiger.testscripts.Activities_delete"/>
      <class name="com.vtiger.testscripts.Create_invoice_WTmandatory"/>
      <class name="com.vtiger.testscripts.ImportContact4"/>
      <class name="com.vtiger.testscripts.SearchOpportunities4"/>
      <class name="com.vtiger.testscripts.ExportOpportunities4"/>
      <class name="com.vtiger.testscripts.DeleteServices4"/>
      <class name="com.vtiger.testscripts.SearchServiceName"/>
      <class name="com.vtiger.testscripts.Create_sales_orderWTmandatory"/>
      <class name="com.vtiger.testscripts.DeleteLead"/>
      <class name="com.vtiger.testscripts.MassEditSeervices4"/>
      <class name="com.vtiger.testscripts.MassEditOpportunities4"/>
      <class name="com.vtiger.testscripts.CreateDuplicateLead4"/>
      <class name="com.vtiger.testscripts.Invoice_export_to_pdf"/>
      <class name="com.vtiger.testscripts.CreateSalesOrder4"/>
      <class name="com.vtiger.testscripts.ExportContacts4"/>
      <class name="com.vtiger.testscripts.CreateService"/>
      <class name="com.vtiger.testscripts.SearchLeads4"/>
      <class name="com.vtiger.testscripts.Delete_individual_sales_order"/>
      <class name="com.vtiger.testscripts.CreateSalesOrder1"/>
      <class name="com.vtiger.testscripts.CreateSalesOrder2"/>
      <class name="com.vtiger.testscripts.ExportLeads4"/>
      <class name="com.vtiger.testscripts.SearchServiceCate"/>
      <class name="com.vtiger.testscripts.DuplicateService"/>
      <class name="com.vtiger.testscripts.EditContact"/>
      <class name="com.vtiger.testscripts.EditService"/>
      <class name="com.vtiger.testscripts.Send_email_WTmandatory"/>
      <class name="com.vtiger.testscripts.EditOrganization"/>
      <class name="com.vtiger.testscripts.SelectLeads"/>
      <class name="com.vtiger.testscripts.CreateQuote1"/>
      <class name="com.vtiger.testscripts.CreateInvoice4"/>
      <class name="com.vtiger.testscripts.CreateInvoice2"/>
      <class name="com.vtiger.testscripts.CreateQuote2"/>
      <class name="com.vtiger.testscripts.CreateInvoice1"/>
      <class name="com.vtiger.testscripts.AddEventLeads4"/>
      <class name="com.vtiger.testscripts.CreatePurchaseOrder"/>
      <class name="com.vtiger.testscripts.Activities"/>
      <class name="com.vtiger.testscripts.ExportServices4"/>
      <class name="com.vtiger.testscripts.CreateLeads4"/>
      <class name="com.vtiger.testscripts.Delete_purchaseorder"/>
      <class name="com.vtiger.testscripts.Delete_invoice"/>
      <class name="com.vtiger.testscripts.EditLeads4"/>
      <class name="com.vtiger.testscripts.CreateServices4"/>
      <class name="com.vtiger.testscripts.Create_sales_order"/>
      <class name="com.vtiger.testscripts.SelectOpportunities"/>
      <class name="com.vtiger.testscripts.SearchServiceNum1"/>
      <class name="com.vtiger.testscripts.Duplicate_purchaseorder"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
